extends layout

block content
  h1= title
  p Welcome to #{title}
  button(type="button", class="btn btn-secondary" onclick="moreClaps()") Press me for Contents
  div(id="target") Clap for me

  script.
    var clap_count=0;
    function moreClaps(){
      clap_count=clap_count+2;
      document.getElementById("target").innerHTML="Clap "+clap_count+" Times";
    }
  a(href="grocery") Grocery